body {	
	background-image: url('img/bg.jpg');
	color: #000305;
	font-size: 87.5%; /* bast font size is usually 14px */
	font-family: Arial, 'Lucida Sans Unicode';
	line-height: 1.5;
	text-align: left;
	
}

a {
	text-decoration: none;
	
}
a:link, a:visited {
	color: #CF5C3F;

}
a:hover, a:active {
	background-color: #CF5C3F;
	color: #FFF;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;	
}

.body{

	margin: 0 auto;
	width: 80%;
	clear: both;
	
}

.mainHeader img {
	width: 100%;
	height: auto;
	margin: 2% 0;
		border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;	
}

.mainHeader nav {
	background-color: #666;
	height: 40px;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;	
}

.mainHeader nav ul {
	list-style: none;
	margin: 0 auto;
}

.mainHeader nav ul li {
	float: left;
	display: inline;
	
}

.mainHeader nav a:link, .mainHeader nav a:visited{
	color: #FFF;
	display: inline-block;
	padding: 10px 25px;	
	height: 20px;
}

.mainHeader nav a:hover, .mainHeader nav a:active, 
.mainHeader nav .active a:link, .mainHeader nav .active a:visited {
	background-color: #CF5C3F;
	text-shadow: none;
}

.mainHeader nav ul li a {
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;	
}

.mainContent {	
	line-height: 25px;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;	
}

.content {
	width: 70%;
	float: left;
	
}

.topcontent {
	background-color: #F3DAC2;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;		
	padding: 3% 5%;
	margin-top: 2%;
}

.bottomcontent {
	background-color: #F3DAC2;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;		
	padding: 3% 5%;
	margin-top: 2%;
}

.top-side {
	width: 21%;
	float: left;
	background-color: #F3DAC2;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	margin: 1.5% 0% 1% 3%;
	padding: 2% 3%;
}

.mid-side {
	width: 21%;
	float: left;
	background-color: #F3DAC2;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	margin: 1% 0% 1% 3%;
	padding: 2% 3%;
}

.bottom-side {
	width: 21%;
	float: left;
	background-color: #F3DAC2;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	margin: 1% 0% 1% 3%;
	padding: 2% 3%;
}

.post-info {
	font-style: italic;
	color: #999;
	font-size: 80%;
}

.mainFooter {
	width: 100%;
	float: left;
	height: 40px;
	background-color: #666;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	margin-top: 2%;
	margin-bottom: 2%;	
}

.mainFooter p {
	width: 92%;
	margin: 8px auto;
	font-size: 16px;
	color: #FFF;
}

@media only screen and (min-width: 150px) and (max-width: 600px){
	
	.body{
		width: 90%;
		font-size: 95%;
	}

	.mainHeader img {
		width: 100%;
	}
	
	.mainHeader nav {
		height: 120px;
	}

	.mainHeader nav ul {
		padding-left: 0;
	}

	.mainHeader nav ul li {
		width: 100%;
		text-align: center;
	}

	.mainHeader nav a:link, .mainHeader nav a:visited{
		color: #FFF;
		display: inline-block;
		padding: 10px 25px;	
		height: 20px;
		display: block;
	}
	
	.content {
		width: 100%;
		margin-top: 2%;
	}
	
	.post-info {
		display: none;
	}

	.topcontent {
		background-color: #FFF;
		border-radius: 5px;
		-moz-border-radius: 5px;
		-webkit-border-radius: 5px;		
		padding: 3% 5%;
		margin-top: 2%;
	}

	.bottomcontent {
		background-color: #FFF;
		border-radius: 5px;
		-moz-border-radius: 5px;
		-webkit-border-radius: 5px;		
		padding: 3% 5%;
		margin-top: 2%;
	}
	
	.top-side {
		width: 94%;
		float: left;
		background-color: #FFF;
		border-radius: 5px;
		-moz-border-radius: 5px;
		-webkit-border-radius: 5px;
		margin: 3% 0% 1% 0%;
		padding: 2% 3%;
	}

	.mid-side {
		width: 94%;
		float: left;
		background-color: #FFF;
		border-radius: 5px;
		-moz-border-radius: 5px;
		-webkit-border-radius: 5px;
		margin: 3% 0% 1% 0%;
		padding: 2% 3%;
	}

	.bottom-side {
		width: 94%;
		float: left;
		background-color: #FFF;
		border-radius: 5px;
		-moz-border-radius: 5px;
		-webkit-border-radius: 5px;
		margin: 3% 0% 1% 0%;
		padding: 2% 3%;
	}
	
}
